<div class="social-icons">
    <a href="https://github.com" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com" target="_blank" class="social-icon">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://twitter.com" target="_blank" class="social-icon">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://instagram.com" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://wa.me/923001234567" target="_blank" class="social-icon whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>